<section id="title-main">
	<div class="container">
		<h1>Our Best Treatments</h1>
	</div>
</section>

<section id="treatment-bl">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment1.jpg">
					<h3>Plastic Surgery</h3>
					<p>Our Plastic Surgery department is equipped with the most advanced technology and has experts with more than 15 years of experience in plastic surgery treatments to bring a complete transformation in a person’s appearance.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment2.jpg">
					<h3>Neurology</h3>
					<p>We have the best experts in neurology to treat even the most complex healthcare problems linked to the disorders of the nervous system. This branch of medicine requires specialized care and treatment and we offer the best of them.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment3.jpg">
					<h3>Gastrology</h3>
					<p>All the problems and disorders of the digestive system are treated with precision and efficacy to uproot the issue with permanent medical solutions. Our gastrology experts hold various distinctions.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment4.jpg">
					<h3>Orthopedics</h3>
					<p>From diagnosis of musculoskeletal problems to advanced treatment and worthwhile recovery, our orthopedics department is among the best in the country.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment1.jpg">
					<h3>Plastic Surgery</h3>
					<p>We provide the most full medical services, so every person could have the pportunity o receive qualitative medical help.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment2.jpg">
					<h3>Neurology</h3>
					<p>We provide the most full medical services, so every person could have the pportunity o receive qualitative medical help.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment3.jpg">
					<h3>Gastrologic</h3>
					<p>We provide the most full medical services, so every person could have the pportunity o receive qualitative medical help.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment4.jpg">
					<h3>Orthopedic</h3>
					<p>We provide the most full medical services, so every person could have the pportunity o receive qualitative medical help.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment5.jpg">
					<h3>Cardiology</h3>
					<p>We care for your heart and its health like you do. Our expert cardiologists are determined to keep your heart healthy.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment6.jpg">
					<h3>Urology</h3>
					<p>All problems related to the urinary system are treated with expert knowledge and modern amenities for healthcare.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment7.jpg">
					<h3>Pediatric</h3>
					<p>A complete range of healthcare services and advanced infrastructure for the best pediatric care in the city.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment8.jpg">
					<h3>Pulmonology</h3>
					<p>In times of COVID-19, it becomes far more essential to care for your respiratory system. At Cayton Hospital, you get the best facilities and advice for pulmonology treatment.</p>
				</div>
			</div>
		</div>
	</div>
</section>
