<section id="title-main">
	<div class="container">
		<h1>About Cayton Hospital</h1>
	</div>
</section>

<section id="about-h" class="pt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<h2>The most advanced and dedicated multispeciality hospital in your city</h2>
			</div>
			<div class="col-md-7">
				<p>We, at Cayton Hospital, view healthcare as a service and not a means of commercial interests. Our staff is dedicated to providing the most genuine healthcare advice and treatment to people approaching us. What makes us different is that we constantly upgrade our techniques with the latest best practices and trends that can optimize healthcare services to offer the maximum benefits to patients. Moreover, our medical fraternity holds extensive experience and multiple expertise in their respective verticals and is committed to offering pleasant patient experiences. We do not settle for anything less than qualitative treatment of all sorts of medical issues. For us, service is our greatest motivator. </p>
			</div>
		</div>

		<p>In these unprecedented times of the COVID-19 pandemic, we urge people to stay safe and get vaccinated at the earliest opportunity. To ensure maximum safety and contactless medical consultation, we have also initiated video consultancy healthcare services for people to avail from any part of the country. People can connect remotely with our highly qualified and expert doctors and seek the most appropriate consultation on their healthcare needs. We are supporting the community and the country in every possible way to battle the COVID-19 pandemic and our multispecialty teams are working tirelessly and relentlessly to serve people in times of such a grave medical crisis that has spread worldwide. We are constantly undertaking new verticals of research and development to come up with innovative and more promising solutions to healthcare problems people are exposed to in contemporary times.</p>
	</div>
</section>


<section id="doctors">
	<div class="container">
		<h2>Our Expert Doctors</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="inner-block">
                    <img src="assets/images/doc-1.jpg" class="img-fluid">
                    <div class="content">
                        <h3>Dr. Makayla Thow</h3>
                        <p>MBBS, Neurologist</p>
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="inner-block">
                    <img src="assets/images/doc-2.jpg" class="img-fluid">
                    <div class="content">
                        <h3>Dr. Phoebe McGuffog</h3>
                        <p>MBBS, Orthopedic</p>
                    </div>
                </div>
            </div>
    
           <div class="col-md-4">
            <div class="inner-block">
                <img src="assets/images/doc-3.jpg" class="img-fluid">
                <div class="content">
                    <h3>Dr. Sofia Moloney</h3>
                    <p>MBBS, MS</p>
                </div>
            </div>
           </div>
    
           <div class="col-md-4">
            <div class="inner-block">
                <img src="assets/images/doc-4.jpg" class="img-fluid">
                <div class="content">
                    <h3>Dr. Nicholas Lightfoot</h3>
                    <p>Dermatologist</p>
                </div>
            </div>
           </div>
    
           <div class="col-md-4">
            <div class="inner-block">
                <img src="assets/images/doc-5.jpg" class="img-fluid">
                <div class="content">
                    <h3>Dr. Laura Biddlecombe</h3>
                    <p>MBBS, MD</p>
                </div>
            </div>
           </div>
        </div>
		
	</div>
</section>
