<section id="title-main">
	<div class="container">
		<h1>Our Best Treatments</h1>
	</div>
</section>

<section id="treatment-bl">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment1.jpg">
					<h3>Plastic Surgery</h3>
					<p>Our Plastic Surgery department is equipped with the most advanced technology and has experts with more than 15 years of experience in plastic surgery treatments to bring a complete transformation in a person’s appearance. </p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment2.jpg">
					<h3>Neurology</h3>
					<p>The top neurologists are available to handle even the most difficult medical issues connected to nervous system ailments.
						We provide the greatest care and treatment available for this area of medicine, which requires specific attention. </p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment3.jpg">
					<h3>Gastrology</h3>
					<p>The digestive system's issues are all precisely and effectively handled in order to provide long-lasting medical treatments.
						Our gastrology specialists have earned a variety of awards. </p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment4.jpg">
					<h3>Orthopedics</h3>
					<p>Our orthopaedics department is one of the best in the nation when it comes to musculoskeletal problem diagnosis, cutting-edge treatment, and worthwhile rehabilitation. </p>
				</div>
			</div>
			
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment5.jpg">
					<h3>Cardiology</h3>
					<p>We take just as much care of your heart's wellbeing as you do.
						Our expert cardiologists are determined to keep your heart healthy. </p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment6.jpg">
					<h3>Urology</h3>
					<p>All urinary system issues are handled with professional knowledge and cutting-edge medical equipment. </p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment7.jpg">
					<h3>Pediatric</h3>
					<p>A full spectrum of medical services and cutting-edge facilities for the best paediatric care in the area. </p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment8.jpg">
					<h3>Pulmonology</h3>
					<p>It is even more crucial to take care of your respiratory system during COVID-19.
						You may receive the best resources and guidance for pulmonology care at Cayton Hospital. </p>
				</div>
			</div>
		</div>
	</div>
</section>
