<section id="title-main">
	<div class="container">
		<h1>About SOUL MEDIC</h1>
	</div>
</section>

<section id="about-h" class="pt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>The most advanced and dedicated multispeciality hospital in your city</h2>
                <p>At SOUL MEDIC, we see healthcare as a service rather than a tool for advancing business objectives. Our staff is committed to offering patients who come to us the most sincere medical advice and care. We stand out from the competition because we are always updating our methods to reflect the newest trends and best practises that can improve healthcare services and provide patients with the greatest possible benefits. Additionally, our medical fraternity is dedicated to providing patients with positive experiences and boasts a wealth of experience and skill in their various fields. We don't accept anything less than top-notch care for any medical condition. Serving others is what drives us most.</p>
			</div>
			
		</div>

		
	</div>
</section>

<section id="treatment-bl">
	<div class="container">
		<h2>Some of our best departments</h2>
		<div class="row">
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment1.jpg">
					<h3>Plastic Surgery</h3>
					<p>With the most cutting-edge technology and specialists with more than 15 years of experience in cosmetic surgery procedures, our plastic surgery department can completely transform a person's appearance. </p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment2.jpg">
					<h3>Neurology</h3>
					<p>The top neurologists are available to handle even the most difficult medical issues connected to nervous system ailments.
                        We provide the greatest care and treatment available for this area of medicine, which requires specific attention. </p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment3.jpg">
					<h3>Gastrology</h3>
					<p>The top neurologists are available to handle even the most difficult medical issues connected to nervous system ailments.
                        We provide the greatest care and treatment available for this area of medicine, which requires specific attention. </p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment4.jpg">
					<h3>Orthopedics</h3>
					<p>Our orthopaedics department is one of the best in the nation when it comes to musculoskeletal problem diagnosis, cutting-edge treatment, and worthwhile rehabilitation. </p>
				</div>
			</div>
		</div>
	</div>
</section>
