<section id="title-main">
	<div class="container">
		<h1>Appointment List</h1>
	</div>
</section>


<section class="appointment-list table-listing">
    <div class="container">
        <div class="card">
            <div class="table-responsive">
               <table class="table">
                  <thead>
                     <tr>
                        <th class="border-top-0">Products</th>
                        <th class="border-top-0">License</th>
                        <th class="border-top-0">Support Agent</th>
                        <th class="border-top-0">Technology</th>
                        <th class="border-top-0">Tickets</th>
                        <th class="border-top-0">Sales</th>
                        <th class="border-top-0">Earnings</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>
                           <div class="display-flex">
                              <h4>Elite Admin</h4>
                           </div>
                        </td>
                        <td>Single Use</td>
                        <td>John Doe</td>
                        <td>
                           <label class="label label-danger">Angular</label>
                        </td>
                        <td>46</td>
                        <td>356</td>
                        <td>
                            <h5><a href="#">Edit</a><a href="#">Delete</a></h5>
                        </td>
                     </tr>
                     
                     <tr>
                        <td>
                           <div class="display-flex">
                              <h4>Elite Admin</h4>
                           </div>
                        </td>
                        <td>Single Use</td>
                        <td>John Doe</td>
                        <td>
                           <label class="label label-danger">Angular</label>
                        </td>
                        <td>46</td>
                        <td>356</td>
                        <td>
                            <h5><a href="#">Edit</a><a href="#">Delete</a></h5>
                        </td>
                     </tr>
                     
                     <tr>
                        <td>
                           <div class="display-flex">
                              <h4>Elite Admin</h4>
                           </div>
                        </td>
                        <td>Single Use</td>
                        <td>John Doe</td>
                        <td>
                           <label class="label label-danger">Angular</label>
                        </td>
                        <td>46</td>
                        <td>356</td>
                        <td>
                            <h5><a href="#">Edit</a><a href="#">Delete</a></h5>
                        </td>
                     </tr>
                     
                     <tr>
                        <td>
                           <div class="display-flex">
                              <h4>Elite Admin</h4>
                           </div>
                        </td>
                        <td>Single Use</td>
                        <td>John Doe</td>
                        <td>
                           <label class="label label-danger">Angular</label>
                        </td>
                        <td>46</td>
                        <td>356</td>
                        <td>
                            <h5><a href="#">Edit</a><a href="#">Delete</a></h5>
                        </td>
                     </tr>
                     
                     <tr>
                        <td>
                           <div class="display-flex">
                              <h4>Elite Admin</h4>
                           </div>
                        </td>
                        <td>Single Use</td>
                        <td>John Doe</td>
                        <td>
                           <label class="label label-danger">Angular</label>
                        </td>
                        <td>46</td>
                        <td>356</td>
                        <td>
                           <h5><a href="#">Edit</a><a href="#">Delete</a></h5>
                           
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
    </div>
</section>