<section id="title-main">
	<div class="container">
		<h1>Make Appointment</h1>
	</div>
</section>


<section id="make-appointment">
	<div class="container">
		<form>
			<div class="row">
				<div class="col-md-6 col-lg-4">
					<div class="mb-4">
						<label>Department</label>
						<select name="department" class="form-control">
							<option value="">---Department---</option>
						</select>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="mb-4">
						<label>Date</label>
						<input type="date" name="date" class="form-control">
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="mb-4">
						<label>Time</label>
						<select name="time" class="form-control">
							<option value="">---Time---</option>
							<option value="10:00 - 12:00">10:00 - 12:00</option>
						</select>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="mb-4">
						<label>Name</label>
						<input type="text" name="name" class="form-control">
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="mb-4">
						<label>Email</label>
						<input type="email" name="email" class="form-control">
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="mb-4">
						<label>Phone No</label>
						<input type="text" name="phone" class="form-control">
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="mb-4">
						<label>Date of Birth</label>
						<input type="date" name="dob" class="form-control">
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="mb-4">
						<label>Sex</label>
						<select name="sex" class="form-control">
							<option value="">---Select---</option>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
							<option value="Others">Others</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="mb-4">
						<label>Message</label>
						<textarea name="message" class="form-control"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button type="submit" class="appointment-btn">Submit</button>
				</div>
			</div>
		</form>
	</div>
</section>