<section id="home-sld">
	<div class="container">
		<div class="box">
			<div class="content">
				<h1>Transforming Healhcare for the Better</h1>
				<p class="big-text">The most trusted hospital in the city</p>
				<div class="row">
					<div class="col-md-6">
						<p><img src="assets/images/check-20x20.png"> An expert panel of doctors</p>
						<p><img src="assets/images/check-20x20.png"> Round the clock emergency services</p>
					</div>
					<div class="col-md-6">
						<p><img src="assets/images/check-20x20.png"> 24*7 customer support</p>
						<p><img src="assets/images/check-20x20.png"> Modern healthcare amenities</p>
					</div>
				</div>
			</div>
			<img src="assets/images/hospital-banner.jpg" alt="" class="img-fluid d-none d-sm-none d-lg-block">
		</div>
	</div>
</section>

<div id="feature-block">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="inner-block">
					<div class="icon">
						<img src="assets/images/solidarity.png">
					</div>
					<h3>Quality &amp; Safety</h3>
					<p>We are a trusted name when it comes to quality of healthcare and patient safety </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="inner-block">
					<div class="icon">
						<img src="assets/images/technology.jpg">
					</div>
					<h3>State of the art technology</h3>
					<p>We are leveraging technological innovations and AI to optimize health care services</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="inner-block">
					<div class="icon">
						<img src="assets/images/doctor.png">
					</div>
					<h3>Highly Qualified Faculty</h3>
					<p>Our medical and para-medical staff has the best expertise in town</p>
				</div>
			</div>
		</div>
	</div>
</div>


<section id="treatment-bl">
	<div class="container">
		<h2>SOME OF OUR BEST DEPARTMENTS</h2>
		<div class="row">
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment1.jpg">
					<h3>Plastic Surgery</h3>
					<p>Our Plastic Surgery department is equipped with the most advanced technology and has experts with more than 15 years of experience in plastic surgery treatments to bring a complete transformation in a person’s appearance.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment2.jpg">
					<h3>Neurology</h3>
					<p>We have the best experts in neurology to treat even the most complex healthcare problems linked to the disorders of the nervous system. This branch of medicine requires specialized care and treatment and we offer the best of them.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment3.jpg">
					<h3>Gastrology</h3>
					<p>All the problems and disorders of the digestive system are treated with precision and efficacy to uproot the issue with permanent medical solutions. Our gastrology experts hold various distinctions.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment4.jpg">
					<h3>Orthopedics</h3>
					<p>From diagnosis of musculoskeletal problems to advanced treatment and worthwhile recovery, our orthopedics department is among the best in the country.</p>
				</div>
			</div>
		</div>
	</div>
</section>


<section id="about-h">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<h2>The most advanced and dedicated multispeciality hospital in your city </h2>
			</div>
			<div class="col-md-7">
				<p>We, at Cayton Hospital, view healthcare as a service and not a means of commercial interests. Our staff is dedicated to providing the most genuine healthcare advice and treatment to people approaching us. What makes us different is that we constantly upgrade our techniques with the latest best practices and trends that can optimize healthcare services to offer the maximum benefits to patients. Moreover, our medical fraternity holds extensive experience and multiple expertise in their respective verticals and is committed to offering pleasant patient experiences. We do not settle for anything less than qualitative treatment of all sorts of medical issues. We put our patients above everything else and service is our greatest motivator.</p>
			</div>
		</div>
	</div>
</section>


<section id="doctors">
	<div class="container">
		<h2>Our Expert Doctors</h2>
		
        <div class="row">
            <div class="col-md-4">
                <div class="inner-block">
                    <img src="assets/images/doc-1.jpg" class="img-fluid">
                    <div class="content">
                        <h3>Dr. Makayla Thow</h3>
                        <p>MBBS, Neurologist</p>
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="inner-block">
                    <img src="assets/images/doc-2.jpg" class="img-fluid">
                    <div class="content">
                        <h3>Dr. Phoebe McGuffog</h3>
                        <p>MBBS, Orthopedic</p>
                    </div>
                </div>
            </div>
    
           <div class="col-md-4">
            <div class="inner-block">
                <img src="assets/images/doc-3.jpg" class="img-fluid">
                <div class="content">
                    <h3>Dr. Sofia Moloney</h3>
                    <p>MBBS, MS</p>
                </div>
            </div>
           </div>
    
           <div class="col-md-4">
            <div class="inner-block">
                <img src="assets/images/doc-4.jpg" class="img-fluid">
                <div class="content">
                    <h3>Dr. Nicholas Lightfoot</h3>
                    <p>Dermatologist</p>
                </div>
            </div>
           </div>
    
           <div class="col-md-4">
            <div class="inner-block">
                <img src="assets/images/doc-5.jpg" class="img-fluid">
                <div class="content">
                    <h3>Dr. Laura Biddlecombe</h3>
                    <p>MBBS, MD</p>
                </div>
            </div>
           </div>
        </div>
	</div>
</section>
