<section id="home-sld">
	<div class="container">
		<div class="box">
			<div class="content">
				<h1>Transforming Healhcare for the Better</h1>
				<p class="big-text">The most trusted hospital in the city</p>
				<div class="row">
					<div class="col-md-6">
						<p><img src="assets/images/check-20x20.png"> An expert panel of doctors</p>
						<p><img src="assets/images/check-20x20.png"> Round the clock emergency services</p>
					</div>
					<div class="col-md-6">
						<p><img src="assets/images/check-20x20.png"> 24*7 customer support</p>
						<p><img src="assets/images/check-20x20.png"> Modern healthcare amenities</p>
					</div>
				</div>
			</div>
			<img src="assets/images/hospital-banner.jpg" alt="" class="img-fluid d-none d-sm-none d-lg-block">
		</div>
	</div>
</section>

<div id="feature-block">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="inner-block">
					<div class="icon">
						<img src="assets/images/solidarity.png">
					</div>
					<h3>Quality &amp; Safety</h3>
					<p>We are a trusted name when it comes to quality of healthcare and patient safety </p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="inner-block">
					<div class="icon">
						<img src="assets/images/technology.jpg">
					</div>
					<h3>State of the art technology</h3>
					<p>We are leveraging technological innovations and AI to optimize health care services</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="inner-block">
					<div class="icon">
						<img src="assets/images/doctor.png">
					</div>
					<h3>Highly Qualified Faculty</h3>
					<p>Our medical and para-medical staff has the best expertise in town</p>
				</div>
			</div>
		</div>
	</div>
</div>


<section id="treatment-bl">
	<div class="container">
		<h2>SOME OF OUR BEST DEPARTMENTS</h2>
		<div class="row">
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment1.jpg">
					<h3>Plastic Surgery</h3>
					<p>Our Plastic Surgery department is equipped with the most advanced technology and has experts with more than 15 years of experience in plastic surgery treatments to bring a complete transformation in a person’s appearance.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment2.jpg">
					<h3>Neurology</h3>
					<p>We have the best experts in neurology to treat even the most complex healthcare problems linked to the disorders of the nervous system. This branch of medicine requires specialized care and treatment and we offer the best of them.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment3.jpg">
					<h3>Gastrology</h3>
					<p>All the problems and disorders of the digestive system are treated with precision and efficacy to uproot the issue with permanent medical solutions. Our gastrology experts hold various distinctions.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="inner-block">
					<img src="assets/images/treatment4.jpg">
					<h3>Orthopedics</h3>
					<p>From diagnosis of musculoskeletal problems to advanced treatment and worthwhile recovery, our orthopedics department is among the best in the country.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="about-h" class="pt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>The most advanced and dedicated multispeciality hospital in your city</h2>
                <p>At SOUL MEDIC, we see healthcare as a service rather than a tool for advancing business objectives. Our staff is committed to offering patients who come to us the most sincere medical advice and care. We stand out from the competition because we are always updating our methods to reflect the newest trends and best practises that can improve healthcare services and provide patients with the greatest possible benefits. Additionally, our medical fraternity is dedicated to providing patients with positive experiences and boasts a wealth of experience and skill in their various fields. We don't accept anything less than top-notch care for any medical condition. Serving others is what drives us most.</p>
			</div>
			
		</div>

		
	</div>
</section>
